@using MoreMovies.Services.Dto
@model AddMovieInputModel

@{
    ViewData["Title"] = "Add Movie";
}

<h1>Add Movie</h1>

<form class="text-center border border-light p-5" action="AddMovie" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" type="text" class="form-control" placeholder="Title" name="title" value="">
        <span asp-validation-for="Title" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Country">Country</label>
        <input asp-for="Country" type="text" class="form-control" placeholder="Country" name="country" value="">
        <span asp-validation-for="Country" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <select type="text" class="form-control" placeholder="Genre" name="genre">
            <option value="Fantasy">Fantasy</option>
            <option value="Horror">Horror</option>
            <option value="Drama">Drama</option>
            <option value="Comedy">Comedy</option>
            <option value="Thriller">Thriller</option>
        </select>

    </div>
    <div class="form-group">
        <label asp-for="Language">Language</label>
        <input asp-for="Language" type="text" class="form-control" placeholder="Language" name="language" value="">
        <span asp-validation-for="Language" class="m-md-0 text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="text" class="form-control" placeholder="Image" name="image" value="">
        <span asp-validation-for="Image" class="m-md-0 text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="ReleaseDate">Release Date</label>
        <input asp-for="ReleaseDate" type="datetime" class="form-control" placeholder="Release-Date" name="releaseDate" value="">
        <span asp-validation-for="ReleaseDate" class="m-md-0 text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Budget">Budget</label>
        <input asp-for="Budget" type="text" class="form-control" placeholder="Budget" name="budget" value="">
        <span asp-validation-for="Budget" class="m-md-0 text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HomePage">Home page</label>
        <input asp-for="HomePage" type="text" class="form-control" placeholder="HomePage" name="homePage" value="">
        <span asp-validation-for="HomePage" class="m-md-0 text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" type="text" class="form-control" placeholder="Description" name="description" value=""></textarea>
        <span asp-validation-for="Description" class="m-md-0 text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Actors">Actors</label>
        <input asp-for="Actors" type="text" class="form-control" placeholder="Actors" name="actors" value="">
        <span asp-validation-for="Actors" class="m-md-0 text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add movie</button>
</form>