@model AddCommentInputModel

@{
    ViewData["Title"] = "Add Comment";
}

<h1>ADD COMMENT</h1>

<form class="text-center border border-light p-5" asp-controller="Movie" asp-action="AddComment"   method="post">
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" type="text" class="form-control" placeholder="Description" name="description" value="">
        <span asp-validation-for="Description" class="m-md-0 text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" value="submit">Add comment</button>
</form>
