@model ICollection<MovieViewModel>;

    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>MovieHunter</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/css/style.css" />
        <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="js/jquery-func.js"></script>
        <!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
    </head>
    <body>
        <div id="main">
            <div id="content">
                <div class="box">
                    @foreach (var movie in Model)
                    {
                        //var photoPath = "~/images/" + (movie.PhotoPath ?? "noimaje.jpg");

                        <div class="movie">
                            <div class="movie-image"> <span class="play"><span class="name">@movie.Title</span></span> <a href="#"><img src="/@movie.ImageUrl" alt="" /></a> </div>
                            <div class="rating">
                                <p>RATING</p>
                                <div class="stars">
                                    <div class="stars-in"> </div>
                                </div>
                                <span class="likes">@movie.Likes</span>
                                <span class="comments">@movie.Comments.Count().ToString()</span>
                            </div>

                            <a class="btn btn-danger" href="Details/@movie.Id" name="@movie.Id">Details</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </body>
