@model ICollection<MovieViewModel>;

@{
    ViewData["Title"] = "All Top Commented";
}

    <link rel="stylesheet" href="~/css/style.css" />



<h1>Top Commented Movies</h1>
<div id="main">
    <div id="content">
        <div class="box">
            @foreach (var movie in Model)
            {
                @await Html.PartialAsync("../Shared/_MoviePR", movie)
            }
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="~/js/jquery-func.js"></script>