@model ICollection<MovieViewModel>

@{
    ViewData["Title"] = "My Liked Movies";
}

<h1 class="subtitle fancy">My Liked</h1>
<div id="content">
    @if (Model.Count > 0)
    {

        <div class="box col-12">
            @foreach (var movie in Model)
            {
                @await Html.PartialAsync("../Shared/_MoviePR", movie)
            }
        </div>
    }
    else
    {
        <h1>No Movies Here</h1>
    }

</div>
