@model ICollection<NewsViewModel>

@{
    ViewData["Title"] = "All News";
}
<h1 class="subtitle fancy">All News</h1>

<hr class="hr-2" />

<div class=" mt-3 ">
    <div class="row d-block d-wrap">
        @foreach (var item in Model)
        {
           
                <article id="news-item" class="card mb-xl-5">
                    <h1 style="color:darkgoldenrod">@item.Title</h1>
                
                    <p style="color:black">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed tortor vel arcu gravida commodo. Pellentesque porttitor diam mauris, et posuere ligula cursus sed. Suspendisse pellentesque, nulla sed elementum commodo, dui diam faucibus ante, eget consectetur velit leo sed risus. Suspendisse tincidunt leo lobortis enim ultrices, in pretium ex rhoncus. Sed nec dui rhoncus, iaculis ligula nec, efficitur ligula. Donec congue accumsan vestibulum. Nam ultricies diam nibh, ac tristique mauris pretium quis. Sed eget enim a neque iaculis accumsan eget sit amet orci. Morbi porttitor nisl ac aliquet luctus. Sed sit amet consectetur metus. Aenean ut scelerisque libero, in rutrum justo. Maecenas quis tincidunt lectus. Donec id varius ex.

                        In accumsan a ipsum nec finibus. Morbi tempus convallis risus, a mattis felis ultricies in. Integer interdum risus sapien, et vulputate massa luctus in. Vivamus ut felis ac diam ultrices ornare id et eros. Donec porttitor facilisis orci eget scelerisque. In vitae orci sapien. Phasellus condimentum nisi justo, eget molestie urna feugiat vitae. Aenean aliquet iaculis elit quis vestibulum. Pellentesque vel eros quis dolor interdum efficitur. Praesent consequat ex ut ipsum tincidunt, non bibendum nunc tincidunt. Mauris sit amet porttitor neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ut tellus cursus, efficitur tellus ac, sagittis tortor. Maecenas consectetur, tellus id gravida pellentesque, lacus dui suscipit nisl, id lobortis tortor velit id tellus. Fusce ut eros tristique risus placerat hendrerit.

                        Nullam scelerisque ultrices augue, ut vulputate leo malesuada a. Suspendisse dapibus in nulla at molestie. Duis nec arcu metus. Duis laoreet eros sed nisi sagittis vehicula. Duis justo turpis, ultrices a accumsan eget, faucibus eu enim. Phasellus at lectus pellentesque, interdum odio ut, hendrerit ante. Proin egestas mauris a semper mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis non lorem in urna finibus commodo. Donec sagittis nec nisi at maximus. Quisque sodales luctus justo, eget rutrum quam. Etiam ante arcu, tincidunt non ultrices eu, hendrerit sit amet mi. Maecenas commodo purus a felis sagittis, ut congue sem vehicula. Quisque a ligula congue, scelerisque purus ut, vehicula quam.

                        Sed ac odio varius, tincidunt nisl nec, efficitur arcu. Duis ac lobortis diam, vitae luctus urna. Morbi et dignissim sapien. Cras sed laoreet nulla, ac auctor elit. Etiam volutpat, nisi sit amet auctor tincidunt, mauris mi varius diam, a eleifend nisi turpis ut nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque ut quam orci. Donec congue convallis elit eget vestibulum.

                        Suspendisse tincidunt cursus mauris, vitae sagittis justo viverra ut. Nullam feugiat, elit a sollicitudin rutrum, ex orci molestie neque, id auctor odio nunc eu lacus. Ut suscipit iaculis enim ut imperdiet. Quisque sed ante aliquet, pulvinar massa eu, volutpat arcu. Donec ut ante a elit posuere porta a sit amet arcu. Sed erat ante, porttitor ut molestie interdum, viverra id sapien. Donec nec iaculis est. Aliquam erat volutpat. Nulla facilisi.
                    </p>
                </article>
            
        }
    </div>
</div>