@model NewsViewModel

@{
    ViewData["Title"] = "News";
}

<div class="content">
    <p class="date">@Model.AddedOn</p>
    <h4>@Model.Title</h4>
    <hr />
    <p>@Model.Description</p>
   
    <a class="btn-flip" data-back="Read More" data-front="Read More" asp-controller="News" asp-action="Details" asp-route-id="@Model.Id"></a>
</div>
