@model NewsViewModel

@{
    ViewData["Title"] = "News";
}

<div class="content">
    <p class="date">@Model.AddedOn</p>
    <h4>@Model.Title</h4>
    <p>@Model.Description</p>
    <a asp-controller="News" asp-action="Details" asp-route-id="@Model.Id">Read more</a>
</div>
