@model ComingSoonViewModel
<div class="content">
    <h4>@Model.Title</h4>
    <a href="#"><img src=/@Model.ImageUrl alt="" /></a>
    <p>@Model.Description</p>
    <a href="#">Read more</a>
</div>
<div class="cl">&nbsp;</div>
