@model ComingSoonViewModel
<article class="soon-item">
    <article class="soon-head">
        <img width="100" height="200" src=@Model.ImageUrl alt="" />
    </article>
    <article class="soon-body">
        <h1 style="color:darkgoldenrod">@Model.Title</h1>

        <p style="color:black">
            @Model.Description
        </p>
    </article>
</article>