@model ComingSoonViewModel
<a href="#"><img src=/@Model.ImageUrl alt="" /></a>
<article class="card mb-xl-5">
    <h1 style="color:darkgoldenrod">@Model.Title</h1>

    <p style="color:black">
        @Model.Description
    </p>
</article>