body, html{
    margin : 0;
    padding : 0;
}
* {
    box-sizing: border-box;
}

header nav .container {
    display: flex;
    justify-content: space-between;
}
.navbar-logo img{
    width: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.details {
    width : 80%;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.movie-image-details{
    height : 680px
}

.movie-image-details img {
    width: 100%;
    height: 100%;
}

.details-item {
    flex-basis: 42%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.card-body {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    color: white;
    padding : 25px;
    margin-bottom : 15px;
}

main {
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand {
    font-size: 32px;
   
    color: white;
    text-decoration: none;
    font-family: fantasy;
    padding: 10px;
    margin: 15px;
}
.navbar-brand:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width : 2px;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: -1;
}

.text-right a {
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius : 4px;
    padding : 5px;

}

.item {
    display: flex;
    flex-direction: column;
    margin: 38px;
}

#shell {
    margin: 0 auto;
}

body {
    background: #7B9EA2;
}

.navbar-collapse{
    display : flex;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

    .navbar-nav li {
        padding: 10px;
        list-style: none;
    }

        .navbar-nav li a {
            text-decoration: none;
            font-size: 16px;
            color : white;
            font-family : fantasy;
        }

.rating {
    float: left;
}

.actors, .star-rating {
    background: linear-gradient( 45deg, black, transparent);
    border-radius: 15px;
    padding: 15px;
    margin: 18px 0;
    color: white;
}

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position: absolute;
        top: -9999px;
        clip: rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float: right;
        width: 1em;
        padding: 0 .1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 200%;
        line-height: 1.2;
        color: #ddd;
        text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
    }

        .rating:not(:checked) > label:before {
            content: '★ ';
        }

    .rating > input:checked ~ label {
        color: #f70;
        text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #ea0;
        text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating > label:active {
        position: relative;
        top: 2px;
        left: 2px;
    }



.btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 20px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans";
    text-transform: uppercase;
}

    .btn-flip:hover:after {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }

    .btn-flip:hover::before {
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
    }

    .btn-flip:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: black;
        display: block;
        transition-duration: 1s;
        position: absolute;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
    }

    .btn-flip:before {
        margin-bottom: 20px;
        top: 0;
        left: 0;
        opacity: 1;
        color: white;
        display: block;
        padding: 0 10px;
        line-height: 20px;
        transition-duration: 1s;
        position: relative;
        background: #323237;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }

    .modal{
        display : none;
    }

.align-center {
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

    .align-center>li {
        border-radius: 9px;
        list-style: none;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.5);
    }

#search {
    margin: 0 auto;
    padding: 10px;
    flex-basis: 30%;
}

.movie {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 9px;
}

.movie-image {
    position : relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

    .movie img {
        max-width: 250px;
        max-height: 300px;
        border-radius: 9px;
        margin: 10px;
    }

.form-check-inline button, .add-form button{
    background : transparent;
    border : none;
}

hr {
    width: 250px;
}
.main{
    display : flex;
}

#content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.box {
    display: flex ;
    margin: 0 auto;
    flex-wrap : wrap;
    justify-content : center;
}

.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
}

.rating {
    color : white;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
}

    .rating p {
        float: left;
        font-size: 10px;
        color: #fff;
        font-weight: bold;
    }
    /*.comments {
	width: 220px;
	height: 100px;
	margin: 10px 0 0 -10px;
	background: white;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}*/

    .rating .stars {
        float: left;
        width: 60px;
        height: 11px;
        background: url('images/stars.gif') repeat-x;
        margin-left: 2px;
    }

    .rating .stars-in {
        width: 48px;
        
        background: url('images/stars.gif') no-repeat 0 bottom;
        position: absolute;
        height: 11px;
        font-size: 0;
        line-height: 0;
        text-indent: -2000px;
    }

.rating {
    float: left;
}

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position: absolute;
        top: -9999px;
        clip: rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float: right;
        width: 1em;
        padding: 0 .1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 200%;
        line-height: 1.2;
        color: #ddd;
        text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
    }

        .rating:not(:checked) > label:before {
            content: '★ ';
        }

    .rating > input:checked ~ label {
        color: #f70;
        text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #ea0;
        text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating > label:active {
        position: relative;
        top: 2px;
        left: 2px;
    }
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("images/preloader.gif") center no-repeat #fff;
}

.comments {
    background: url('images/comments.gif') no-repeat 0 center;
    padding-left: 12px;
    float: right;
}

.likes {
    background: url('images/likes.gif') no-repeat 0 center;
    padding-left: 12px;
    float: right;
}

.text-center {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom : 9px;
}

.play {
    border-radius: 9px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/image-hover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    z-index: 5;
    cursor: pointer;
    display: none;
}

.movie span.name {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-top: 160px;
    display: block;
}
.box .last {
    padding: 0;
}

.modal {
    margin-left: 25%;
    margin-right: 25%;
}


#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20px; /* Height of the footer */
}

    #footer, #footer a {
        color: black;
        text-decoration: none;
        text-align: center;
        margin: 10px;
    }

        #footer a:hover {
            text-decoration: none;
        }

        #footer p {
            margin: 0;
            padding: 0 0 11px 0;
            line-height: normal;
            white-space: nowrap;
        }

        #footer .lf {
            float: left;
        }

        #footer .rf {
            float: right;
        }

.common {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#main {
    display: flex;
    flex-wrap: wrap;
}

#news {
    display: flex;
    flex-direction: column;
    flex-basis: 44%;
}

#coming {
    display: flex;
    flex-direction: column;
    flex-basis: 44%;
}

#news .content {
    text-align : center;
    margin-top : 14px;
    color : white;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 9px;
}

#news .content p{
    margin : 35px;
    font-family : Helvetica;
}

#news hr , #coming hr{
    width: 250px;
}

button{
    display : contents;
}

#coming .content {
    text-align: center;
    margin-top: 14px;
    margin-right : 14px;
    color: white;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 9px;
}

    #coming .content p {
        margin: 35px;
        font-family: Helvetica;
    }

.soon-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    align-items: center;
}

.add-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    border-radius: 9px;
    box-shadow: 6px 6px 6px 3px darkgrey;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
}

     .add-form h1 {
        color: white;
    }

#news-item {
    background: white;
    margin: 10px;
    border-radius: 3px;
    padding: 5px;
    
}

.soon-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 26px;
    border-radius : 12px;
    /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
}

.soon-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 33px;
    flex-basis : 25%;
}

#registerForm {
    display: flex;
    border-radius: 9px;
    box-shadow: 6px 6px 6px 3px darkgrey;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    color: white;
    justify-content: center;
    flex-direction: column;
}

    #registerForm .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 14px;
        flex-direction: column;
        width: 100%;
    }

    

.soon-head{
    flex-basis :5%;
}

#account, .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 14px;
    flex-direction : column;
   width : 80%;
}

p a{
    text-decoration : none;
    color : white;
}

#account {
    display: flex;
    border-radius: 9px;
    box-shadow: 6px 6px 6px 3px darkgrey;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    color: white;
    justify-content: center;
    flex-direction: column;
    margin : 0 auto;
    width : 100%;
}

#account label input{
    width : 15px
;}



.form-group label, #account label{
    font-size : 22px;
    margin-right : 9px; 
    color : white;
}

    .form-group input, .form-group select, .form-group textarea {
        width: 89%;
        border-radius: 4px;
        height: 50px;
    }

    .error{
        color : red;
    }

#search form input, form select{
    width: 170px;
}

.fancy {
    line-height: 0.5;
    text-align: center;
    color : white;
}

    .fancy {
        display: inline-block;
        position: relative;
    }

        .fancy:before,
        .fancy:after {
            content: "";
            position: absolute;
            height: 10px;
            border-bottom: 1px solid white;
            border-top: 1px solid white;
            top: 0;
            width: 100%;
        }

        button{
            display : block;
        }

        .fancy:before {
            right: 100%;
            margin-right: 15px;
        }

        .fancy:after {
            left: 100%;
            margin-left: 15px;
        }

        .form-group>button{
           background-color : red
        }

#registerSubmit {
    padding: 15px;
    width: 121px;
    border-radius: 6px;
    background: white;
}

#login-submit {
    padding: 15px;
    width: 121px;
    border-radius: 6px;
    background: white;
}

.admin-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.admin-main-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    box-shadow: 5px 8px 5px 2px black;
    margin: 20px;
    color  : white;
}
    .admin-main-item hr{
        width : 60%;
    }


    .admin-main-item-body p {
        text-align: center;
        margin: 15px;
    }

.admin-main-item-footer{
    display : flex;
}

    .admin-main-item-footer button {
        padding: 10px;
        border-radius: 5px;
        background: grey;
        color: white;
        text-transform: uppercase;
        margin : 15px;
    }

        .admin-main-item-footer button a{
            text-decoration : none;
            color : white;
        }

        .admin-main-item-footer {
        }

        .admin-main-item-title{
            margin : 10px;
            padding : 25px;
        }

.admin-button button{
    padding: 25px;
    border-radius: 9px;
}

    .admin-button button a {
        text-decoration: none;
        color: black;
    }


.form-group {
    width: 100%;
}

    @media screen and (max-width : 600px) {
        header nav .container, .navbar-collapse {
            flex-direction: column;
            flex-wrap: wrap;
        }

        .admin-main{
            display : block
        }

        #content{
            
            margin : 0 auto;
            text-align : center;
        }

        .box{
            display : inline-block;
        }

        #coming{
            margin : 0 auto;
        }

        .flex-grow-1{
            flex-wrap : wrap;
        }

        .navigation{

        }

        .align-center{
            flex-wrap : wrap;
        }

        .add-form{
            width : 88%;
        }

        .logo{
            margin : 0 auto;
        }

        .details{
            display : block;
        }

        .details-item{
            display : block;
        }

        .modal{
            margin : 0;
        }

        iframe{
            width : 100%
        }

        .head{
            display : block;
        }

        .soon-header{
            flex-direction : column;
        }

        .soon-item {
            flex-direction: column;
            align-items: center;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 1) 100%);
        }

        .movie-image-details {
            height: 450px;
        }
        
        
    }




