header nav .container {
    display: flex;
    justify-content: space-between;
}
.navbar-logo img{
    width: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.details {
    width : 80%;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.movie-image-details{
    height : 680px
}

.movie-image-details img {
    width: 100%;
    height: 100%;
}

.details-item {
    flex-basis: 42%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

main {
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand {
    font-size: 32px;
   
    color: white;
    text-decoration: none;
    font-family: fantasy;
    padding: 10px;
    margin: 15px;
}
.navbar-brand:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width : 2px;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: -1;
}

.text-right a {
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius : 4px;
    padding : 5px;

}

.item {
    display: flex;
    flex-direction: column;
    margin: 38px;
}

body {
    background-image: url('./images/banner2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-collapse{
    display : flex;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

    .navbar-nav li {
        padding: 10px;
        list-style: none;
    }

        .navbar-nav li a {
            text-decoration: none;
            font-size: 16px;
            color : white;
            font-family : fantasy;
        }



.btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 20px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans";
    text-transform: uppercase;
}

    .btn-flip:hover:after {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }

    .btn-flip:hover::before {
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
    }

    .btn-flip:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: black;
        display: block;
        transition-duration: 1s;
        position: absolute;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
    }

    .btn-flip:before {
        margin-bottom: 20px;
        top: 0;
        left: 0;
        opacity: 1;
        color: white;
        display: block;
        padding: 0 10px;
        line-height: 20px;
        transition-duration: 1s;
        position: relative;
        background: #323237;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }

    .modal{
        display : none;
    }

.align-center {
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

    .align-center>li {
        border-radius: 9px;
        list-style: none;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.5);
    }

#search {
    margin: 0 auto;
    padding: 10px;
    flex-basis: 30%;
}

.movie {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 9px;
}

.movie-image {
    position : relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

    .movie img {
        max-width: 250px;
        max-height: 300px;
        border-radius: 9px;
        margin: 10px;
    }

    .movie hr{
        width : 250px;
    }
.main{
    display : flex;
}

#content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.box {
    display: flex ;
    margin: 0 auto;
    flex-wrap : wrap;
}

.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
}

.rating {
    color : white;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
}

    .rating p {
        float: left;
        font-size: 10px;
        color: #fff;
        font-weight: bold;
    }
    /*.comments {
	width: 220px;
	height: 100px;
	margin: 10px 0 0 -10px;
	background: white;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}*/

    .rating .stars {
        float: left;
        width: 60px;
        height: 11px;
        background: url('images/stars.gif') repeat-x;
        margin-left: 2px;
    }

    .rating .stars-in {
        width: 48px;
        display: inline;
        background: url('images/stars.gif') no-repeat 0 bottom;
        position: absolute;
        height: 11px;
        font-size: 0;
        line-height: 0;
        text-indent: -2000px;
    }

.comments {
    background: url('images/comments.gif') no-repeat 0 center;
    padding-left: 12px;
    float: right;
}

.likes {
    background: url('images/likes.gif') no-repeat 0 center;
    padding-left: 12px;
    float: right;
}

.text-center {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom : 9px;
}

.play {
    border-radius: 9px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/image-hover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    z-index: 5;
    cursor: pointer;
    display: none;
}

.movie span.name {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-top: 160px;
    display: block;
}
.box .last {
    padding: 0;
}

.modal {
    margin-left: 25%;
    margin-right: 25%;
}



#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20px; /* Height of the footer */
}

    #footer, #footer a {
        color: black;
        text-decoration: none;
        text-align: center;
        margin: 10px;
    }

        #footer a:hover {
            text-decoration: none;
        }

        #footer p {
            margin: 0;
            padding: 0 0 11px 0;
            line-height: normal;
            white-space: nowrap;
        }

        #footer .lf {
            float: left;
        }

        #footer .rf {
            float: right;
        }

.common {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#main {
    display: flex;
    flex-wrap: wrap;
}

#news {
    display: flex;
    flex-direction: column;
    flex-basis: 44%;
}

#coming {
    display: flex;
    flex-direction: column;
    flex-basis: 44%;
}

#news .content {
    text-align : center;
    margin-top : 14px;
    color : white;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 9px;
}

#news .content p{
    margin : 35px;
    font-family : Helvetica;
}

#news hr , #coming hr{
    width: 250px;
}

button{
    display : contents;
}

#coming .content {
    text-align: center;
    margin-top: 14px;
    margin-right : 14px;
    color: white;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 9px;
}

    #coming .content p {
        margin: 35px;
        font-family: Helvetica;
    }

.soon-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    align-items: center;
}

.add-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    border-radius: 9px;
    box-shadow: 6px 6px 6px 3px darkgrey;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
}

     .add-form h1 {
        color: white;
    }

#account, .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 14px;
    flex-direction : column;
   width : 80%;
}

.form-group label, #account label{
    font-size : 22px;
    margin-right : 9px; 
    color : white;
}

    .form-group input, .form-group select, .form-group textarea {
        width: 100%;
        border-radius: 4px;
        height: 50px;
    }

    .error{
        color : red;
    }

#search form input, form select{
    width: 170px;
}



    @media screen and (max-width : 600px){
        header nav .container, .navbar-collapse {
            flex-direction: column;
            flex-wrap: wrap;
        }

        #content{
            display : inline-block;
            margin : 0 auto;
        }

        .box{
            display : inline-block;
        }

        #coming{
            margin : 0 auto;
        }

        .flex-grow-1{
            flex-wrap : wrap;
        }

        .navigation{

        }

        .align-center{
            flex-wrap : wrap;
        }

        .add-form{
            width : 88%;
        }

        .logo{
            margin : 0 auto;
        }
    }




