* {
	margin:0;
	padding:0;
	outline:0;
}
modal-content{
	width: fit-content;
	position: relative;
	margin: 0 auto;
	top: 25%;
}
header {
	background: url('images/body-bg.gif');
}
html {
	position: relative;
	min-height: 100%;
}
body {
	font-size: 12px;
	line-height: 1.3;
	font-family: Arial, Helvetica, Sans-Serif;
	color: #ccc;
	background: url('images/body-bg.gif');
	margin-bottom: 100px;
}
a {
	color:#e7b038;
	
	cursor:pointer;
}
a:hover {
	text-decoration:none;
}
a img {
	border:0;
}
input, textarea, select {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
textarea {
	overflow:auto;
}
.cl {
	display:block;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	clear:both;
}
.notext {
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.left, .alignleft {
	float:left;
	display:inline;
}
.right, .alignright {
	float:right;
	display:inline;
}
.text-right {
	text-align:right;
}
h2 {
	font-size:10px;
	color:#f2a223;
	font-weight:bold;
}
h3 {
	font-size:14px;
	color:#fff;
	font-weight:bold;
}
h4 {
	font-size:14px;
	color:#f3b12b;
	font-weight:bold;
}
#shell {
	width:auto;
	margin:0 auto;
}
#header {
	position:relative;
}
h1#logo {
	position:absolute;
	top:37px;
	left:0;
}
h1#logo a {
	float:left;
	width:239px;
	height:49px;
	background:url('images/logo.gif') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.social {
	float:right;
	width:160px;
	padding-top:11px;
}
.social span {
	float:left;
	display:inline;
	font-size:10px;
	color:#9f9f9f;
	line-height:16px;
	padding-right:5px;
}
.social ul {
	list-style:none;
}
.social ul li {
	float:left;
	display:inline;
	width:16px;
	padding-right:2px;
}
.social ul li a {
	float:left;
	display:inline;
	width:16px;
	height:16px;
	background:url('images/social.gif') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.social ul li a.facebook {
	background-position:-18px 0;
}
.social ul li a.vimeo {
	background-position:-36px 0;
}
.social ul li a.rss {
	background-position:-54px 0;
}
#navigation {
	float:right;
	clear:right;
	padding-top:28px;
	padding-bottom:47px;

}
#navigation ul {
	list-style:none;
}
#navigation ul li {
	float:left;
	display:inline;
	padding-left:29px;
}
#navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
#navigation ul li a.active, #navigation ul li a:hover {
	color:#d91d2a;
}
#sub-navigation {
	display: block;
	clear: right;
	border-top: 1px dashed #666;
	border-bottom: 1px dashed #666;
	padding: 8px 0;
	width: auto;
	margin: 0 auto;
}
#sub-navigation ul {
	list-style:none;
}
#sub-navigation ul li {
	float:left;
	display:inline;
	padding-right:23px;
}
#sub-navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	text-decoration:none;
}
#sub-navigation ul li a:hover {
	text-decoration:underline;
}
#search {
	width:300px;
	margin:0 0 0 auto;
}
#search label {
	float:left;
	display:inline;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	padding-right:6px;
}
#search .search-field {
	width:238px;
	border:1px solid #413e3e;
	background:#000;
	color:#787878;
	padding:2px 0 2px 2px;
}
#search .search-button {
	font-size:14px;
	font-weight:bold;
	border:0;
	background:none;
	color:#fff;
	cursor:pointer;
}
#main {
	border-bottom: 1px dashed #413e3e;
	position: relative;
}
#content {
	position: relative;
}
.box {
	width: auto;
	border-bottom: 1px dashed #413e3e;
	padding-bottom: 21px;
	position: relative;
}
	.box .head {
		width: auto;
		padding-top: 14px;
		padding-bottom: 11px;
		position: relative;
	}
.box .head h2 {
	float:left;
	display:inline;
}
.box .movie {
	width: 180px;
	float: left;
	padding-right: 12px;
	margin: 0 0 0 auto;
	margin-left: auto;
}
	
.movie-image {
	float:left;
	width:180px;
	height:214px;
	position:relative;
}
.movie-image img {
	width:180px;
	height:214px;
}
.movie-image-details img {
	width: 452px;
	height: 650px;
}
.movie-image a {
	float:left;
	display:inline;
	width:180px;
	height:214px;
	position:relative;
	z-index:2;
}
.play {
	position:absolute;
	top:0;
	left:0;
	width:180px;
	height:214px;
	background:url('images/image-hover.png');
	display:block;
	z-index:5;
	cursor:pointer;
	display:none;
}
.movie span.name {
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-align:center;
	padding-top:160px;
	display:block;
}
.box .last {
	padding:0;
}
.rating {
	float:left;
	width:172px;
	padding-top:8px;
}
.rating p {
	float:left;
	font-size:10px;
	color:#fff;
	font-weight:bold;
}
/*.comments {
	width: 220px;
	height: 100px;
	margin: 10px 0 0 -10px;
	background: white;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}*/

.rating .stars {
	float:left;
	width:60px;
	height:11px;
	background:url('images/stars.gif') repeat-x;
	margin-left:2px;
}
.rating .stars-in {
	width:48px;
	display:inline;
	background:url('images/stars.gif') no-repeat 0 bottom;
	position:absolute;
	height:11px;
	font-size:0;
	line-height:0;
	text-indent:-2000px;
}
.comments {
	background:url('images/comments.gif') no-repeat 0 center;
	padding-left:12px;
	float:right;
}
.likes {
	background: url('images/likes.gif') no-repeat 0 center;
	padding-left: 12px;
	float: right;
}
#soon {
	width: 460px;
	float: right;
}
#news {
	width:460px;
	float:left;
	margin-left: 9px;
}
#news .head {
	width:460px;
	padding-top:11px;
	padding-bottom:14px;
}
#news h3, #coming h3 {
	float:left;
}
#coming {
	width:490px;
	float:right;
	padding-left:30px;
}
#coming .head {
	width:490px;
	padding-top:11px;
	padding-bottom:14px;
}
#coming .head strong {
	color:#ff361a;
}
#coming .content {
	min-height:130px;
	height:auto !important;
	height:130px;
	padding-bottom:20px;
}
#coming .content h4 {
	padding-bottom:3px;
}
.content {
	padding-bottom:28px;
}
.content .date {
	font-size:10px;
	color:#fff;
}
.content img {
	float:left;
	width:68px;
	padding-right:8px;
}
.content p {
	font-size:13px;
	color:#fff;
	line-height:16px;
}
.content a {
	font-size:11px;
}
.comment {
	border: 1px solid rgba(16, 46, 46, 1);
	background-color: rgba(16, 46, 46, 0.973);
	float: right;
	border-radius: 5px;
	padding-left: 40px;
	padding-right: 30px;
	padding-top: 10px;
	width: 435px;
}

.comment h4,
.comment span,
.darker h4,
.darker span {
	display: inline
}

.comment p,
.comment span,
.darker p,
.darker span {
	color: rgb(184, 183, 183)
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px; /* Height of the footer */
}
#footer, #footer a {
	color:#9c9c9c;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:none;
}
#footer p {
	margin:0;
	padding:0 0 11px 0;
	line-height:normal;
	white-space:nowrap;
}
#footer .lf {
	float:left;
}
#footer .rf {
	float:right;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("images/preloader.gif") center no-repeat #fff;
}

/*form table*/
body {
	margin-top: 20px;
}

.bg-light-gray {
	background-color: #f7f7f7;
}

.table-bordered thead td, .table-bordered thead th {
	border-bottom-width: 2px;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}

.table-bordered td, .table-bordered th {
	border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
	box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
	box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
	box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
	box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
	box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
	box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
	box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
	background-color: #02c2c7
}

.bg-orange {
	background-color: #e95601
}

.bg-green {
	background-color: #5bbd2a
}

.bg-yellow {
	background-color: #f0d001
}

.bg-pink {
	background-color: #ff48a4
}

.bg-purple {
	background-color: #9d60ff
}

.bg-lightred {
	background-color: #ff5722
}

.padding-15px-lr {
	padding-left: 15px;
	padding-right: 15px;
}

.padding-5px-tb {
	padding-top: 5px;
	padding-bottom: 5px;
}

.margin-10px-bottom {
	margin-bottom: 10px;
}

.border-radius-5 {
	border-radius: 5px;
}

.margin-10px-top {
	margin-top: 10px;
}

.font-size14 {
	font-size: 14px;
}

.text-light-gray {
	color: black;
}

.font-size13 {
	font-size: 13px;
}

.table-bordered td, .table-bordered th {
	border: 1px solid #dee2e6;
}

.table td, .table th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
	background-color: white;
}
