@model ICollection<NewsViewModel>

@{
    ViewData["Title"] = "All News";
}
<h1 class="text-center">All News</h1>
<hr class="hr-2" />

<div class=" mt-3 ">
    <div class="row d-flex d-wrap">
        @foreach (var item in Model)
        {
            <article class="admin-main-item">
                <div class="card-header text-black-50" >
                    News Id: @item.Id
                </div>

                <div class="card-body text-black-50">
                    Title: @item.Title
                </div>

                <div class="card-body text-black-50">
                    Description: @item.Description
                </div>

                <div class="card-footer">
                    <form asp-controller="Administration" asp-action="DeleteNews" asp-route-id="@item.Id" method="post">
                        <div class="admin-main-item-footer">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </article>
        }
    </div>
</div>