@model ICollection<ComingSoonViewModel>

@{
    ViewData["Title"] = "All ComingSoon";
}
<h1 class="text-center">All ComingSoon</h1>
<hr class="hr-2" />

<div class=" mt-3 ">
    <div class="row d-flex d-wrap">
        @foreach (var item in Model)
        {
            <article class="admin-main-item">
                <div class="card-header">
                    ComingSoon Id: @item.Id
                </div>
                <a href="#"><img src=/@item.ImageUrl alt="" /></a>

                <div class="card-body">
                    title: @item.Title
                </div>

                <div class="card-body">
                    Description: @item.Description
                </div>

                <div class="card-footer">
                    <form asp-controller="Administration" asp-action="DeleteComingSoon" asp-route-id="@item.Id" method="post">
                        <div class="admin-main-item-footer">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </article>
        }
    </div>
</div>