@model EditRoleViewModel

@{
    ViewBag.Title = "Edit Role";
}
<section class="admin-main">
    <article class="admin-main-item">
        <form method="post" class="mt-3">
            <article class="admin-main-item-title">
                <label asp-for="RoleId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="RoleId" disable class="form-control" />
                </div>
            </article>
            <article class="admin-main-item-title">
                <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </article>

            <div asp-validation-summary="All" class="text-danger"></div>

            <article class="admin-main-item-footer">
                <button type="submit" class="btn btn-primary">Update</button>
                <button><a asp-action="ListRoles" class="btn btn-primary">Cancel</a></button>
            </article>


            <article class="admin-main-item">
                <div class="card-header">
                    <h3 class="text-black-50">Users in this role</h3>
                </div>
                <div class="card-body">
                    @if (Model.Users.Any())
                    {
                        foreach (var user in Model.Users)
                        {
                            <h5 class="card-title text-black-50">@user</h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title text-black-50">Not at the moment</h5>
                    }
                </div>
                <article class="admin-main-item-footer">

                    <button><a asp-controller="Administration" asp-action="EditUsersInRole" asp-route-roleId="@Model.RoleId" style="width:auto" class="btn btn-primary">Add or Remove Users</a></button>
                </article>
            </article>
        </form>
    </article>
</section>
