<div class="card mb-3">
    <div class="card-header">
        Manage Role
    </div>
    <div class="card-body">
        
    </div>
    <div class="card-footer">
        <a class="btn btn-danger mb-3" style="width:auto" asp-controller="Administration" asp-action="ListRoles">Edit</a>
        <a class="btn btn-primary mb-3" style="width:auto" asp-controller="Administration" asp-action="DeleteRole">Delete</a>
    </div>

</div>

<div class="card mb-3">
    <div class="card-header">
        Manage Users
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer">
        <a class="btn btn-danger mb-3" style="width:auto" asp-controller="Administration" asp-action="All">Edit</a>
        <a class="btn btn-primary mb-3" style="width:auto" asp-controller="Administration" asp-action="DeleteRole">Delete</a>
    </div>

</div>

<div class="card mb-3">
    <div class="card-header">
        Add Or Delete News
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer">
        <a class="btn btn-danger mb-3" style="width:auto" asp-controller="News" asp-action="Add">Add</a>
        <a class="btn btn-danger mb-3" style="width:auto" asp-controller="Administration" asp-action="EditNews">Edit</a>
    </div>

</div>

<div class="card mb-3">
    <div class="card-header">
        Add Or Delete ComingSoon
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer">
        <a class="btn btn-danger mb-3" style="width:auto" asp-controller="ComingSoon" asp-action="Add">Add</a>
    </div>

</div>
