@model MoreMovies.Web.Models.MovieListViewModel;
@using MoreMovies.Web.Models



@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MovieHunter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" />
    
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-func.js"></script>
    <!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
    <!-- START PAGE SOURCE -->
    <div id="shell">
        <div id="header">
            <h1 id="logo"><a href="#">More Movies</a></h1>
            <div class="social">
                <span>FOLLOW US ON:</span>
                <ul>
                    <li><a class="twitter" href="#">twitter</a></li>
                    <li><a class="facebook" href="#">facebook</a></li>
                    <li><a class="vimeo" href="#">vimeo</a></li>
                    <li><a class="rss" href="#">rss</a></li>
                </ul>
            </div>
            <div id="navigation">
                <ul>
                    <li><a class="active" href="#">HOME</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Movie" asp-action="MyMovies">My Movies</a></li>
                        <li><a asp-controller="Movie" asp-action="Add">ADD Movie</a></li>
                    }

                    <li><a href="#">IN THEATERS</a></li>
                    <li><a href="#">COMING SOON</a></li>
                    <li><a href="/Contact/ContactPage">CONTACT</a></li>
                    <li><a href="#">ADVERTISE</a></li>
                </ul>
            </div>
            <div id="sub-navigation">
                <ul>
                    <li><a href="#">SHOW ALL</a></li>
                    <li><a href="#">LATEST TRAILERS</a></li>
                    <li><a asp-controller="Movie" asp-action="AllTopLiked">TOP LIKED</a></li>
                    <li><a asp-controller="Movie" asp-action="AllTopCommented">MOST COMMENTED</a></li>

                </ul>
                
                <div id="search" class="col-sm">
                    <form asp-controller="Movie" asp-action="SearchByGenre" method="get" accept-charset="utf-8">
                        <label for="search-field">SEARCH BY GENRE</label>
                        <select type="text"  placeholder="Genre" name="genre" id="search-field" class="blink search-field">
                            <option value="Fantasy">Fantasy</option>
                            <option value="Horror">Horror</option>
                            <option value="Drama">Drama</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Thriller">Thriller</option>
                        </select>
                        <input type="submit" value="GO!" class="search-button" />
                    </form>
                </div>
                <hr />
                <div id="search"class="col-sm" >
                    <form asp-controller="Movie" asp-action="Search" method="get" accept-charset="utf-8">
                        <label for="search-field">SEARCH BY NAME</label>
                        <input type="text" name="name" value="" placeholder="Enter search here" id="search-field" class="blink search-field" />
                        <input type="submit" value="GO!" class="search-button" />
                    </form>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="content">
                <div class="box">
                    <div class="head">
                        <h2>LATEST TRAILERS</h2>
                        <p class="text-right"><a asp-controller="Movie" asp-action="All" method="get">See all</a></p>
                    </div>
                    @foreach (var movie in Model.Newest)
                    {
                        //var photoPath = "~/images/" + (movie.PhotoPath ?? "noimaje.jpg");

                        @await Html.PartialAsync("../Shared/_MoviePR", movie)
                    }
                    <div class="cl">&nbsp;</div>
                </div>
                <div class="box">
                    <div class="head">
                        <h2>TOP RATED</h2>
                        <p class="text-right"><a asp-controller="Movie" asp-action="AllTopLiked">See all</a></p>
                    </div>
                    @foreach (var movie in Model.TopLiked)
                    {
                        //var photoPath = "~/images/" + (movie.PhotoPath ?? "noimaje.jpg");

                        @await Html.PartialAsync("../Shared/_MoviePR", movie)
                    }
                    <div class="cl">&nbsp;</div>
                </div>
                <div class="box">
                    <div class="head">
                        <h2>MOST COMMENTED</h2>
                        <p class="text-right"><a asp-controller="Movie" asp-action="AllTopCommented">See all</a></p>
                    </div>
                    @foreach (var movie in Model.TopCommented)
                    {
                        @await Html.PartialAsync("../Shared/_MoviePR", movie)
                    }
                    <div class="cl">&nbsp;</div>
                </div>
            </div>
           
            @await Html.PartialAsync("../Shared/_NewsPR", Model.News)

            <div id="coming">
                <div class="head">
                    <h3>COMING SOON<strong>!</strong></h3>
                    <p class="text-right"><a href="#">See all</a></p>
                </div>
                <div class="content">
                    <h4>The Princess and the Frog </h4>
                    <a href="#"><img src="css/images/coming-soon1.jpg" alt="" /></a>
                    <p>Walt Disney Animation Studios presents the musical &quot;The Princess and the Frog,&quot; an animated comedy set in the great city of New Orleans...</p>
                    <a href="#">Read more</a>
                </div>
                <div class="cl">&nbsp;</div>
                <div class="content">
                    <h4>The Princess and the Frog </h4>
                    <a href="#"><img src="css/images/coming-soon2.jpg" alt="" /></a>
                    <p>Walt Disney Animation Studios presents the musical &quot;The Princess and the Frog,&quot; an animated comedy set in the great city of New Orleans...</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>
</html>
