@model MovieListViewModel;

@{
    ViewData["Title"] = "Index";
}



    <div class="holder" style="display: none;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: none;">
            Launch demo modal
        </button>
    </div>

    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog align-center " style="transform: translate(-50%, -50%); position: relative; top:50%; left: -8%" role="document">
            <div class="modal-content align-center" style="width:fit-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe width="1160" height="615" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=allowfullscreen></iframe>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- START PAGE SOURCE -->

    <div id="shell">
        <div id="header">
            @*<h1 id="logo"><a href="#">More Movies</a></h1>*@



            
            <div id="navigation" class="align-center ">
                <ul class="align-center">
                    <li >
                        <div id="search" >
                            <form asp-controller="Movie" asp-action="SearchByGenre" method="get" accept-charset="utf-8">
                                <label for="search-field">SEARCH BY GENRE</label>
                                <select type="text" placeholder="Genre" name="genre" id="search-field" class="blink search-field">
                                    @foreach (var genre in Model.Genres)
                                    {
                                        <option value="@genre.Name">@genre.Name</option>
                                    }
                                    
                                </select>
                                <input type="submit" value="GO!" class="search-button" />
                            </form>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div id="search" >
                            <form asp-controller="Movie" asp-action="SearchByYear" method="get" accept-charset="utf-8">
                                <label for="search-field">SEARCH BY YEAR</label>
                                <input type="text" name="year" value="" placeholder="Enter year here" id="search-field" class="blink search-field" />
                                <input type="submit" value="GO!" class="search-button" />
                            </form>
                        </div>
                        <hr />
                    </li>

                    <li>
                        <div id="search" >
                            <form asp-controller="Movie" asp-action="Search" method="get" accept-charset="utf-8">
                                <label for="search-field">SEARCH BY NAME</label>
                                <input type="text" name="name" value="" placeholder="Enter search here" id="search-field" class="blink search-field" />
                                <input type="submit" value="GO!" class="search-button" />
                            </form>
                        </div>
                        <hr />
                    </li>
                </ul>
            </div>
           

        </div>
        <div id="main">
            <section id="content">
                <section class="item">
                    <article class="head">
                        <h2>LATEST TRAILERS</h2>
                        <p class="text-right position-relative"><a asp-controller="Movie" asp-action="All" method="get">See all</a></p>
                    </article>
                    <article class="box col-12">

                        @foreach (var movie in Model.Newest)
                        {

                            @await Html.PartialAsync("../Shared/_MoviePR", movie)

                        }


                        <div class="cl">&nbsp;</div>
                    </article>
                </section>
                <section class="item">
                    <article class="head">
                        <h2>TOP RATED</h2>
                        <p class="text-right"><a asp-controller="Movie" asp-action="AllTopLiked">See all</a></p>
                    </article>
                    <article class="box col-12">

                        @foreach (var movie in Model.TopLiked)
                        {
                            @await Html.PartialAsync("../Shared/_MoviePR", movie)
                        }
                        <div class="cl">&nbsp;</div>
                    </article>
                </section>
                <section class="item">

                    <article class="head">
                        <h2>MOST COMMENTED</h2>
                        <p class="text-right"><a asp-controller="Movie" asp-action="AllTopCommented">See all</a></p>
                    </article>
                    <article class="box col-12">

                        @foreach (var movie in Model.TopCommented)
                        {
                            @await Html.PartialAsync("../Shared/_MoviePR", movie)
                        }
                        <div class="cl">&nbsp;</div>
                    </article>
                </section>

            </section>
            <section class="common">

            @await Html.PartialAsync("../Shared/_NewsPR", Model.News)



            @await Html.PartialAsync("../Shared/_ComingSoonPR", Model.ComingSoon)

            <div class="cl">&nbsp;</div>

            </section>
        </div>
    </div>
