<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Find More Movies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/style.css" />
    
</head>
<body>
    <div class="se-pre-con"></div>
    <span id="status" class="text-danger"></span>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">MoreMovies</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a class="nav-link text-white" asp-controller="Movie" asp-action="MyMovies">My Movies</a></li>
                            <li class="nav-item"><a class="nav-link text-white" asp-controller="Movie" asp-action="Add">ADD Movie</a></li>
                        }

                        <li class="nav-item"><a class="nav-link text-white" asp-controller="Cinema" asp-action="InCinema">IN THEATERS</a></li>
                        <li class="nav-item"><a class="nav-link text-white" asp-controller="ComingSoon" asp-action="All">COMING SOON</a></li>
                        <li class="nav-item"><a class="nav-link text-white" asp-controller="News" asp-action="All">News</a></li>
                        <li class="nav-item"><a class="nav-link text-white" asp-controller="Contact" asp-action="ContactPage">CONTACT</a></li>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Administration" asp-action="Index">Administration</a></li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="holder" style="display: none;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: none;">
            Launch demo modal
        </button>
    </div>

    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog align-center " style="transform: translate(-50%, -50%); position: relative; top:50%; left: -8%" role="document">
            <div class="modal-content align-center" style="width:fit-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe width="1260" height="715" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=allowfullscreen></iframe>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="border-top footer ">
        <div id="footer">
            &copy; @DateTime.UtcNow.Year - MoreMovies - Seyhan Akifov
        </div>
    </footer>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>$(window).load(function () {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");;
    });</script>
</html>