@model ICollection<ComingSoonViewModel>
<section id="coming" class="col-md-12">
    <article class="head">
        <h3>COMING SOON<strong>!</strong></h3>
        <p class="text-right"><a asp-controller="ComingSoon" asp-action="All">See all</a></p>
    </article>
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("../ComingSoon/ComingSoon", item)
    }
</section>