@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-white" data-back="Register" data-front="Register" asp-controller="Home" asp-action="Login">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item"><a class="btn-flip" data-back="Logout" data-front="Logout" asp-controller="Home" asp-action="Logout"></a></li>
    }
    else
    {


        <li class="nav-item"><a class="btn-flip" data-back="Register" data-front="Register" asp-controller="Home" asp-action="Register"></a></li>



         <li class="nav-item"><a class="btn-flip" data-back="Login" data-front="Login" asp-controller="Home" asp-action="Login"></a></li>
        
    }
</ul>
