@model ICollection<NewsViewModel>

<div id="news " >
    <div class="head">
        <h3>NEWS</h3>
        <p class="text-right"><a asp-controller="News" asp-action="All">See all</a></p>
    </div>
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("../News/News", item)
<hr />
    }
</div>
