@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ooooops! Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.Contact the Web site support!</h2>